body {
    margin: 0 auto;
}

.header {
    background-color: red;
    height: 60px;
}

.main {
    display: flex;
    height: 400px;
}


.green {
    background-color: green;
    flex: 1;
}

.yellow {
    background-color: yellow;
    flex: 2;
}

.blue {
    background-color: blue;
    flex: 1;
}

.footer {
    background-color: black;
    height: 50px;
}

@media screen and (max-width: 780px){
    .yellow{
        flex: 5;
    }
}

@media screen and (max-width: 600px){
    .main {
        flex-direction: column;
    }
}
